.HiddenDiv{
    display: none;
}
.DivImagemAberta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.DivAberta{
    min-height: 80vh;
    width: 100%;
    background: #000;
    position: relative;
    color: aliceblue;
}