.FormularioContato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    background-color: #252525;
}
.textInput{
    height: 20px;
    width: 60%;
    padding: 5px;
    margin-top: 10px;
    outline: none;
    color: #fff;
    background: #000;
    border: none;
}

.InputAreaContato{
    height: 200px;
    width: 60%;
    padding: 5px;
    outline: none;
    resize: none;
    margin-top: 10px;
    color: #fff;
    border: none;
    background: #000;
}

.BotaoContato{
    color: #eee; 
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    font-weight: bolder;
    font-size: 1em;
    margin-top: 30px;
    background: radial-gradient( rgb(3, 3, 3), rgb(0, 0, 0));
    user-select: none;
    cursor: pointer;

}
