.QuadroHabilidades{
    background: #eee;
    min-height: 150vh;
}
.QuadroHabilidades H2{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    font-family: ra;
    background: #eee;
    margin: 0;
}

.ComponenteDestaques{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    color: #000;
    background-color: #eee;
    min-height: 200px;
    font-family: ra;
    cursor: pointer;
}

@media(max-width:600px){
    .ComponenteProgresso{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}