.AbaSobreEsteSite{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 85vh;
    background:#eee;
}
.ContainerMenuSobreEsteSite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    width: 20%;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    font-family: sans-serif;
    position: relative;
}
.BotaoFechaMenuLateral{
    margin-right: 10px;
    margin-top: 2px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    cursor: pointer;
}
.BotaoFechaMenuLateral:hover{
    color: #38f2ff;
}
.BotaoAbreMenuLateral{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    margin-top: 2px;
}
.BotaoAbreMenuLateral:hover{
    color: #38f2ff;
    cursor: pointer;
}
.MenuSobreEsteSite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    height: 60px;
    width: 100%;
    color: #eee;
    border-bottom: 1px solid #38f2ff;
    background: radial-gradient( rgb(70, 70, 68), rgb(0, 0, 0));
}
.HiddenMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient( rgb(70, 70, 68), rgb(0, 0, 0));
    width: 2%;
    margin-top: 30px;
    font-family: sans-serif;
}
.HiddenBotao{
    display: none;
}
.HiddenLi{
    visibility: hidden;
}
.ListaMenuSobreEsteSite{
    margin: 0;
    width: 100%;
    padding: 0;
    border-bottom-right-radius: 20px;
}
.ItensMenuSobreEsteSite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    height: 50px;
    width: 100%;
    cursor: pointer;
    color: #eee;
    border-bottom: 1px solid #38f2ff;
    font-size: 14px;
    background: radial-gradient( rgb(70, 70, 68), rgb(0, 0, 0));
}
.ItensMenuSobreEsteSite:hover{
    color: #38f2ff;
}
