@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.TituloPortfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#eee;
    min-height: 95vh;
    font-family:'Roboto';
    
}
.IconsContato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}
.IconeEmail:hover{
    color: #38f2ff;
}
.IconeGit:hover{
    color: #38f2ff;
}
.IconeLinkedin:hover{
    color: #38f2ff;
}
.IconeInstagram:hover{
    color: #38f2ff;
}
.IconsContato:hover{
    cursor: pointer;
}


@media(max-width:600px){
    .TituloPortfolio{
        display: flex;
        align-items: center;
        justify-content: center;
        color:#eee;
        padding: 40px;
        font-size: 8px;
        background: radial-gradient( rgb(70, 68, 68), rgb(0, 0, 0));
        min-height: 40vh;
    }
    .IconsContato{
        width: 50%;
        cursor: pointer;
    }
    .TituloDestaques{
        font-size: 10px;
    }
    .CardsDestaques{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
