@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.TituloSobreMim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#eee;
    min-height: 95vh;
    font-family:'Roboto';
    
}
.QuadroDestaques{
    background: radial-gradient( rgb(70, 68, 68), rgb(0, 0, 0));
}
.TituloDestaques{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-size: 20px;
    height: 100px;
}
.CardSobreMim{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 500px;
    font-family: 'Roboto';
}

@media(max-width:600px){
    .TituloSobreMim{
        display: flex;
        align-items: center;
        justify-content: center;
        color:#eee;
        padding: 40px;
        font-size: 8px;
        background: radial-gradient( rgb(70, 68, 68), rgb(0, 0, 0));
    }
}
@media(max-width:600px){
    .SobreMim{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
    }
}