.ComponenteBotaoHabilidade{
    background: transparent;
    cursor: pointer;
    height: 200px;
    border: 0.5px solid #fff;
    border-radius: 10px;
}
.ImagemHabilidade{
    height: 200px;
    border-radius: 10px;
}
.ComponenteBotaoHabilidade:hover{
    border: 2px solid #38f2ff;
}
