.EixoDeslocamento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
    height: 200px;
    background: #000;
}
.carrossel{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: #000;
}
.CaixaComponente{
    flex: 0 0 19.7%;
    height: 100%;
    text-align: center;
    margin: 0 12px;
    background: rgb(129, 129, 129);
}
.buttonSide{
    background: transparent;
    border: none;
    margin-left: 10px;
}
.buttonSide:hover{
    color: #eee;
    height: 100%;
}