.Menu{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 30px;   
    user-select: none;
}
.ItensListaMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    padding: 0px;
    user-select: none;
}
.ItensMenu{
    color: #eee;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif; 
    list-style: none;
    cursor: pointer;
    padding: 3px;
    user-select: none;
}
.ItensMenu:hover{
    padding: 3px;
    border-radius: 2px;
    text-decoration: underline;
}
.ItensMenu:focus{
    padding: 2px;
    border-radius: 2px;
    text-decoration: underline;
}

@media(max-width:600px){
    .ItensListaMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }
    .ItensMenu{
        color: #eee;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        font-family: sans-serif; 
        list-style: none;
        cursor: pointer;
        user-select: none;
    }
}